# ============================
# ☕ Proyecto Java + IntelliJ
# ============================

# === Compilación / Maven ===
target/
!.mvn/wrapper/maven-wrapper.jar

# === IntelliJ IDEA ===
.idea/
*.iml
out/

# === Eclipse (por si abres ahí) ===
.classpath
.project
.settings/
.apt_generated
.factorypath
.sts4-cache

# === NetBeans (por si el profesor abre ahí) ===
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
/build/

# === Visual Studio Code ===
.vscode/

# === Sistema Operativo ===
.DS_Store
Thumbs.db
